<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Semenirio</title>
</head>
<body class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="text-center">
        <h1>Bienvenido al menú principal del seminario</h1>
        <nav>
            <a class="btn btn-primary" href="{% url 'inscritos_list' %}">Inscritos</a>
            <a class="btn btn-primary" href="{% url 'instituciones_list' %}">Instituciones</a>
        </nav>
    </div>
</body>
</html>
</html>